:root {
    --purple: #9C27B0;
	--body-one: #414141;
	--green: #2e7d32;
	--red: #c62828;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
header,
section,
nav,
canvas,
video,
div,
span,
ul,
li,
a,
h2,
h3,
h4,
h5,
h6,
article,
h1,
p,
button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body, #app {
    width: 100%;
	height: 100%;
	z-index: 2;
}

#app, .dashboard {
	background: #EEE;
}

.dashboard {
	padding: 20px 10%;
}

input, label {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: var(--body-one);
}

.login-background {
    background-color: var(--purple);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #fff;
    width: 420px;
    min-height: 475px;
}

.login-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: var(--purple);
    text-align: center;
    padding: 30px 0;
}

.login-card img {
    width: 100%;
}

.login-card-form {
    width: 100%;
    padding: 20px;
}

.input-holder {
    display: flex;
	flex-direction: column;
	height: 100%;
}

.input-holder label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-holder input {
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
	border-radius: 5px;
	height: 100%;
}

.input-holder.icon-input {
	position: relative;
}

.input-holder.icon-input input{
	padding-left: 40px;
}

.input-holder.icon-input i {
	position: absolute;
	display: flex;
	top: 0;
	left: 10px;
	height: 100%;
	align-items: center;
	color: #757575;
}

.button-disabled {
	background: #757575;
}

.primary-button {
    background: var(--purple);
}

.success-button {
	background: var(--green);
}

.danger-button {
	background: var(--red);
}

.button {
	color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: 100%;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1.25px;
    font-weight: 500;
    cursor: pointer;
	transition: all .5s ease;
	text-transform: uppercase;
	justify-content: center;
	padding: 0 35px;
}

.button i {
	margin-right: 5px;
}

.login-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.md-checkbox {
	position: relative;
	margin: 1em 0;
	text-align: left;
}
.md-checkbox.md-checkbox-inline {
	display: inline-block;
}
.md-checkbox label {
	cursor: pointer;
	display: inline;
	line-height: 1.25em;
	vertical-align: top;
	clear: both;
	padding-left: 1px;
	font-size: 16px;
	letter-spacing: 0.5px;
}
.md-checkbox label:not(:empty) {
	padding-left: 0.75em;
}
.md-checkbox label:before, .md-checkbox label:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}
.md-checkbox label:before {
	width: 1.25em;
	height: 1.25em;
	background: #fff;
	border: 2px solid rgba(0, 0, 0, 0.54);
	border-radius: 0.125em;
	cursor: pointer;
	transition: background 0.3s;
}
.md-checkbox input[type="checkbox"] {
	outline: 0;
	visibility: hidden;
	width: 1.25em;
	margin: 0;
	display: block;
	float: left;
	font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
	background: var(--purple);
	border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
	transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
	width: 0.75em;
	height: 0.375em;
	border: 0.125em solid #fff;
	border-top-style: none;
	border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
	border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
	background: rgba(0, 0, 0, 0.26);
}

.snackbar {
	background-color: #323232;
	position: absolute;
	top: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 420px;
	min-height: 50px;
	align-items: center;
	border-radius: 5px;
	animation: snackbarEntry 0.5s ease;
	left: 50%;
	margin-left: -210px;
	transition-property: opacity, top;
	transition: all .5s ease;
}

.snackbar-holder {
	display: flex;
	align-items: center;
	width: 80%;
	padding: 10px 20px;
}

.snackbar-message {
	color: #d6d6d6;
	font-size: 14px;
}

.snackbar-button {
	background: #323232;
	width: 20%;
	color: var(--purple);
	height: 50px;
}

.text-button {
	background: none;
	font-size: 14px;
	letter-spacing: 1.25px;
	cursor: pointer;
	font-weight: 500;
}

@keyframes snackbarEntry {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 15px;
		opacity: 1;
	}
}

@keyframes snackbarExit {
	from {
		top: 15px;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}

.centered-link {
	display: flex;
	justify-content: center;
	color: #2962FF;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: .5px;
	text-decoration: underline;
}

.text-center {
	text-align: center;
}

.complete-holder {
	height: 475px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dashboard-header {
	background: #fff;
	border-bottom: 1px solid #E0E0E0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	height: 65px;
}

.dashboard-header h6.logo {
	color: var(--purple);
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .15px;
}

.logo-holder {
	width: 12%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.vertical-separator {
	width: 2px;
	height: 50%;
	background: #E0E0E0;
	border-radius: 5px;
}

.menu-items {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 60%;
	height: 100%;
}

.menu-items a {
	color: #9E9E9E;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: .5px;
	padding: 0 15px;
	transition: color .5s ease;
}

.menu-items a.router-link-active {
	color: #424242;
}

.menu-icons {
	width: 28%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.menu-icons a {
	color: #414141;
	padding: 0 15px;
	transition: color .5s ease;
}

.menu-icons a:hover {
	color: #252525;
}

.menu-icons a i {
	font-size: 32px;
}

.headline-6, .table-responsive thead tr td {
	color: #424242;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .15px;
}

.headline-5 {
	color: #000;
	font-size: 24px;
	letter-spacing: 0;
}

.table-responsive thead tr td {
	text-transform: uppercase;
}

.action-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 40px;
}

.action-holder button {
	width: 210px;
}

.action-holder .input-holder {
	width: 420px;
}

.login-input {
	height: 80px;
}

.login-button {
	height: 60px;
}

.table-responsive {
	width: 100%;
}

.table-responsive {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.table-responsive, .table-pagination {
	animation: entryTable .5s ease;
}

.table-responsive tbody tr {
	background-color: #FFF;
	height: 65px;
	border-radius: 5px;
}

.table-responsive tbody tr td {
	color: #757575;
	font-size: 16px;
	letter-spacing: .5px;
}

.table-responsive tbody tr td i {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: max-content;
}

.table-responsive td {
	text-align: center;
}

.table-responsive thead tr {
	height: 50px;
}

@keyframes entryTable {
	from {
		transform: translateY(-80px);
		opacity: 0;
	} 
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.spinner-holder {
	display: flex;
	justify-content: center;
}

.table-responsive tbody tr:first-child td:first-child { border-top-left-radius: 5px; }
.table-responsive tbody tr:first-child td:last-child { border-top-right-radius: 5px; }
.table-responsive tbody tr:last-child td:first-child { border-bottom-left-radius: 5px; }
.table-responsive tbody tr:last-child td:last-child { border-bottom-right-radius: 5px; }

.empty-holder {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.table-pagination {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.table-pagination .back, .forward {
	background: var(--purple);
	cursor: pointer;
	height: 100%;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-pagination .back i, .forward i {
	color: #fff;
	font-size: 32px;
}

.form-holder .input-holder {
	height: 65px;
}

.form-holder {
	display: flex;
}

.image-holder {
	width: 256px;
	height: 256px;
	background: #fff;
	border: 1px solid #E9E9E9;
	border-radius: 5px;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.image-holder label {
	width: 100%;
    height: 100%;
	position: absolute;
	cursor: pointer;
}

.hidden-input {
	display: none;
}

.image-holder i {
	color: #757575;
	font-size: 48px;
	margin-bottom: 15px;
}

.image-holder p {
	color: #757575;
}

.form-info-holder {
	display: flex;
	width: calc(100% - 256px - 15px);
	flex-wrap: wrap;
	flex-direction: column;
}

.form-info-holder .row {
	height: 32%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-buttons {
	display: flex;
	justify-content: space-between;
}

.form-buttons button {
	width: 180px;
	height: 40px;
}

.breadcrumb {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.breadcrumb i, .breadcrumb h6 {
	transition: color .5s ease;
}

.breadcrumb:hover i, .breadcrumb:hover h6{
	color: #9E9E9E;
}

.status {
	border-radius: 5px;
	letter-spacing: 1.25px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}

.status-success {
	color: #2e7d32;
	background: #66bb6a;
}

.status-warning {
	color: #f9a825;
	background: #ffee58;
}

.status-danger {
	color: #c62828;
	background: #ef5350;
}

.action-icon {
	cursor: pointer;
	position: relative;
}

.action-icon-holder {
	display: flex;
	flex-direction: column;
	background: #FFF;
	align-items: flex-start;
	position: absolute;
	width: max-content;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 2;
	animation: dropdown .1s ease;
	transition: transform .1s ease;
	top: 40px;
    left: -130px;
}

.action-icon-holder a {
	color: #414141;
	letter-spacing: .5px;
	font-size: 16px;
	display: flex;
    align-items: center;
	width: 100%;
	padding: 12px 20px;
	transition: background .3s ease;
}

.action-icon-holder a:hover {
	background: #e9e9e9;
}

.action-icon-holder a i {
	margin-right: 10px;
}

.danger-link {
	color: #c62828 !important;
}

.action-icon, .toggle-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-ripple {
	border-radius: 50%;
	padding: 5px;
	transition: background .5s ease;
}

.icon-ripple:hover {
	background: #E9E9E9;
}

@keyframes dropdown {
	from {
		transform: scale(.1);
	}
	to {
		transform: scale(1);
	}
}
